:root {
  --price-color: hsl(14, 86%, 42%);
  --confirmation-tick: hsl(159, 69%, 38%);

  --confirmation-bg: hsl(20, 50%, 98%);
  --body-bg: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --confirmation-price: hsl(7, 20%, 60%);
  --short-name: hsl(12, 20%, 44%);
  --full-name: hsl(14, 65%, 9%);
}

* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text";
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--body-bg);
  padding: 3rem 2rem;
}

p {
  font-size: 1.6rem;
}

.header {
  font-size: 3.2rem;
  margin-bottom: 3rem;
}

.product__image {
  width: 100%;
  border-radius: 2rem;
}

.tablet,
.desktop {
  display: none;
}

.product__image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product {
  margin-bottom: 3rem;
}

.add__btn,
.quantity__controller {
  display: flex;
  justify-content: space-between;
  border-radius: 12rem;
  position: absolute;
  align-items: center;
  bottom: -22.5px;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
  /* width: 184px; */
  white-space: nowrap;
}

/* FIXME: Fixing add to cart button  */

.add__btn {
  background-color: var(--confirmation-bg);
  padding: 1rem 3rem;
  color: var(--full-name);
  border: 1px solid var(--short-name);
}
.quantity__controller {
  display: none;
  background-color: var(--price-color);
  padding: 1rem;
  color: var(--confirmation-bg);
  border: 1px solid var(--short-name);
}

.increase,
.decrease {
  border: 1px solid var(--confirmation-bg);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 3px;
}

.cart-img {
  padding: 0;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 1rem;
}

.product__info {
  margin-top: 4rem;
}

.short-name {
  color: var(--short-name);
}

.full-name {
  color: var(--full-name);
  font-weight: 700;
  margin: 1rem 0;
}

.product__price {
  color: var(--price-color);
  font-weight: 600;
}

.product__price::before {
  content: "$";
}

.confirmation-container {
  background-color: var(--confirmation-bg);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm__header {
  font-size: 2.5rem;
  color: var(--price-color);
  align-self: flex-start;
}

.message {
  outline-color: var(--Rose-300);
}

.broken--cake {
  text-align: center;
  margin: 4rem 0 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .product {
    margin-right: 2rem;
  }

  .confirmation-container {
    height: fit-content;
  }

  .mobile-img {
    display: none;
  }

  .tablet {
    display: block;
  }

  body {
    padding: 4rem 8rem;
  }
}

@media screen and (min-width: 1440px) {
  .tablet {
    display: none;
  }

  .desktop {
    display: block;
  }
}
